.entryForm
fieldset
 label {
    display: flex;
    flex-direction: column;
}

h2 {
    color: green;
}

h1 {
    color: navy;
}


.entry__list {
    display: flex;
    flex-direction: column;
    border: 1px dotted blue;
    justify-content: space-between;
    margin: auto 2rem;
    margin-left: .1rem;
}

.entry__list h4 {
    text-decoration: underline;
    
    /* border: 2px solid green; */
}

.entry__container {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
}

.entry__list div {
    /* border: 2px solid purple; */
    justify-content: space-between;
    display: flex;
    /* padding: 2rem; */
    align-items: center;
}

.entry__delete {
    width: 120px;
    height: 50px;
}

.entry__list:nth-child(odd) {
    background: #ccc;
}

.entry__list:nth-child(even) {
    background: #fff;
}

.dropdown {
    display: block;
}

.letters__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem auto 2rem auto;
}

.letters__heading {
    margin-left: 1rem;
    font-size: 1.5rem;
    text-decoration: underline;
}

.letter__object {
    background-color: rgba(176, 196, 222, 0.427);
    border: 1px solid gray;
    border-radius: 4px;
    margin-top: 2rem;
    padding: 1rem;
}

.letter__recipient, 
.letter__author,
.letter__date {
    margin-bottom: 1rem;
    color: rgb(58, 58, 247);
}

.letter__body {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: rgb(105, 157, 3);
    font-size: 1.05rem;
}

.solid {
    margin: 2rem 4rem 0 4rem;
    color: olive;
    border: 4px solid rgb(105, 157, 3);
    border-radius: 5px;
    background-color: rgb(81, 81, 238);
    padding: 4px;
}